@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">@ViewData["Titulo"]</h3>

</div>
    <a href="/studants/create" class="btn btn-primary"> Cadastrar</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Notas</th>
                <th scope="col">Situação</th>
                <th scope="col">Opções</th>
                
                

            </tr>
        </thead>
        <tbody>
            @foreach (var aluno in ViewBag.Aluno)
            {
                
            <tr>
                <th scope="row">@aluno.Id</th>
                <td>@aluno.Nome</td>
                <td>@aluno.Matricula</td>
                <td>@aluno.StrNotas()</td>
                <td>@aluno.Situacao()</td>
                <td> <a onclick="window.location.href='/studants/edit'" class="btn btn-warning">Alterar </a>
                    <a onclick="if(confirm('Confirmar a exclusão do registro @aluno.Id?')){window.location.href='/studants/@aluno.Id/delete'}" class="btn btn-danger">Excluir </a>
                </td>
            </tr>
            }
           
        </tbody>
    </table>

   
    
